<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Normal Pacakges -->
  <package id="autohotkey" />
  <package id="googlechrome" />
  <package id="winrar" />
  <package id="googledrive" />

  <!-- Options Pacakges -->
  <package id="traffic-monitor" />
  <package id="potplayer" />
  <package id="vlc" />
  <package id="adobereader" />
  <package id="streamlink" />

  <!-- Programming Pacakges -->
  <package id="git" />
  <package id="tabby" />
  <package id="docker-desktop" />
  <package id="vscode" />
  <package id="postman" />
  <package id="vmwareworkstation" />
  <!-- Database -->
  <package id="dbeaver" />
  <!-- Golang -->
  <package id="golang" />
  <!-- JAVA -->
  <package id="openjdk" />
  <package id="maven" />
  <!-- Nodejs -->
  <package id="nodejs-lts" />

  <!-- Media Packages -->
  <package id="discord" />
  <package id="steam" />
  <package id="geforce-experience" />
</packages>